{% extends "base_main.html" %}
{% set title = "Cuenta de"+user.name %}
{% block body %}
<link rel="stylesheet" href="/static/css/intlTelInput.css">
<script src="/static/js/intlTelInput.min.js"></script>
<div class="backgnd" style="background-image: url('/static/profile.jpg')">
	{% if alert %}   
		<div class="alert {{alert[0]}} alert-dismissible text-center" role="alert" style="position: absolute; margin-left: 10%; width:80%;z-index: 2;">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" >&times;</span><span class="sr-only">Cerrar</span></button>
			{{alert[1]}}
		</div>
	{%endif %}
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 bckg-w-80">
				<div class="col-md-10 col-md-offset-1">
					<br>
					<img style= "" class="img-circle img-100 center-block" {% if user.profile_pic_r %}src="{{user.profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
					<h1 class="text-center">Mi Cuenta</h1>
					<br>
					<form role="form" method="post" class="form-horizontal">
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-7">
								<input type="text" id="name" class="form-control" value="{{user.name}}" name="name">
							</div>
						</div>
						<div class="form-group">
							<label for="lname" class="col-sm-3 control-label">Apellidos</label>
							<div class="col-sm-7">
								<input type="text" id="lname" class="form-control" value="{{user.lname}}" name="lname">
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Correo</label>
							<div class="col-sm-7">
								<input type="email" id="mail" class="form-control" value="{{user.mail}}" disabled name="mail">
							</div>
						</div>
						{% if not user.fbID %}
							<div class="form-group">
								<label for="oldpw" class="col-sm-3 control-label">Contraseña anterior</label>
								<div class="col-sm-7">
									<input type="password" id="oldpw" class="form-control" name="oldpw">
								</div>
							</div>
							<div class="form-group">
								<label for="newpw" class="col-sm-3 control-label">Nueva contraseña</label>
								<div class="col-sm-7">
									<input type="password" id="newpw" class="form-control" name="newpw">
								</div>
							</div>
						{% endif %}
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Movil</label>
							<div class="col-sm-7">
								<input type="tel" id="movil" class="form-control" value="{{user.movil}}" name="movil">
								<p class="help-block">Tu número de celular solo se utilizará para enviarte notificaciones de tus sesiones.</p>
							</div>
						</div>
						<div class="form-group">
							<label for="update" class="col-sm-3 control-label">Actualizaciones</label>
							<div class="col-sm-7">
								<div class="checkbox">
									<input type="checkbox" id="update" value="update" checked="true" name="update"> Enviame actualizaciones ocasionales de Teachme
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success center-block"><span class="glyphicon glyphicon-floppy-disk"></span> Actualizar datos</button>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#movil").intlTelInput({
		//autoFormat: false,
        //autoHideDialCode: false,
        //defaultCountry: "jp",
        //nationalMode: true,
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        preferredCountries: ['co', 'us']
        //responsiveDropdown: true,);
        });
	})
	</script>
</div>

{% endblock %}