{% extends "base_main.html" %}
{% block title %}
	Tutores online de {{area.name}} | Recibe ayuda online en Teachme
{% endblock %}
{% block description %}
	<meta name="description" content="Conéctate online con tutores en {{area.name}} y recibe ayuda instantánea. Tu primera clase a 1 dólar!">
{% endblock %}
{% block body %}

	<div class="backgnd" style="background-image: url('/static/comparte2.jpg')">
		<br>
		<br>
		<div class="bckg-b-80">
			<div class="container">
				<div class="row">
					<div class="col-md-12"><h2>Encuentra mentores por áreas</h2></div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-2 ">
						<ul class="nav nav-pills nav-stacked">
							{% for a in areas %}
								<li {% if loop.first %}class="active"{% endif %}><a href="#{{a.name}}" data-toggle="pill">{{a.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-6">
						<hr>
						<div class="tab-content">
							{% for a in areas %}
								<div class="tab-pane fade {% if loop.first %}in active{% endif %}" id="{{a.name}}">
								{% for t in mentors[a.key.id()] %}
									<div class="row">
										<div class="col-md-4">
											<a href="/teacher/{{t.key.urlsafe()}}">
												<img class="img-circle img-100" {% if t.profile_pic_r %}src="{{t.profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
											</a>
											<div class="row">
												<div class="col-md-12">
												<br>
													<span class="starReviews-gray">
														<span class="starReviews" style="width:{{t.rating*20}}%"></span>
													</span>
													<br>
													<span class="glyphicon glyphicon-comment"></span>
													<span> {{t.reviews}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<a href="/teacher/{{t.key.urlsafe()}}"><h3>{{t.name}} {{t.lname}}</h3></a>
											<p>{{t.about|truncate(120, True)}}</p>
											<p class="pull-left"><span class="glyphicon glyphicon-credit-card"></span> {{t.fee}} USD por hora</p>
											<p class="pull-right">{% if t.date_available|first_date %}<span class="glyphicon glyphicon-calendar"></span> {{t.date_available|first_date}}{% endif %}</p>
										</div>
									</div>
									<hr>
								{% else %}
									<h3><span class="glyphicon glyphicon-info-sign"></span> Lo sentimos. Estamos trabajando para traerte a los mejores mentores en esta área.</h3>
								{% endfor %}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
		</div>
	</div>



{% endblock %}