{% extends "base_main.html" %}
{% set shareImg = "https://www.teachmeapp.com/static/signup.jpg"%}
{% set title = "Contáctanos | Teachme" %}
{% set shareText = "Contáctanos, cuentanos tus inquietudes, comentarios, sugerencias." %}
{% set shareHt = "teachme" %}

{% block description %}
	<meta name="description" content="Contáctanos, cuentanos tus inquietudes, comentarios, sugerencias.">
{% endblock %}
{% block body %}
<div class="backgnd" style="background-image: url('/static/signup.jpg')">
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 bckg-b-80">
				<h3>{% trans %}Queremos que nos compartas tus opiniones sobre tu experiencia en Teachme.{% endtrans %}</h3> 
				<p>{% trans %}Queremos mejorar para ti. Escríbenos tus preguntas, peticiones, felicitaciones o reclamos: {% endtrans %}</p>
				<br>
				<form role="form" method="post">
					<div class="form-group">
						<label>
							{% trans %}Nombre{% endtrans %}:
							<input type="text" name="name" value="{{name}}" class="form-control">
							<p class="help-block">{{e_name}}</p>
						</label>
					</div>
					<div class="form-group">
						<label>
							{% trans %}Correo{% endtrans %}:
							<input type="email" name="email" class="form-control" value="{{email}}" placeholder="{% trans %}correo@dominio.com{% endtrans %}">
							<p class="help-block">*{% trans %}Opcional{% endtrans %}</p>
						</label>
					</div>
					<div class="form-group">
						<label>
							{% trans %}Comentarios{% endtrans %}:
							<textarea name="text" class="form-control" rows="5">{{text}}</textarea>
							<p class="help-block">{{e_text}}</p>
						</label>
					</div>
					<button type="submit" class="btn btn-success">{% trans %}Enviar{% endtrans %}</button>
					<br>
					<br>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}