{% extends "base_main.html" %}
{% block title %} Contáctanos {% endblock %}
{% block body %}
<div class="backgnd" style="background-image: url('/static/contacto.jpg')">
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 bckg-b-80">
				<h3>Queremos que nos compartas tus opiniones sobre tu experiencia en Teachme. </h3> 
				<p>Queremos mejorar para ti. Escríbenos tus preguntas, peticiones, felicitaciones o reclamos:</p>
				<br>
				<form role="form" method="post">
					<div class="form-group">
						<label>
							Nombre:
							<input type="text" name="name" value="{{name}}" class="form-control">
							<p class="help-block">{{e_name}}</p>
						</label>
					</div>
					<div class="form-group">
						<label>
							Correo:
							<input type="email" name="email" class="form-control" value="{{email}}" placeholder="correo@dominio.com">
							<p class="help-block">*Opcional</p>
						</label>
					</div>
					<div class="form-group">
						<label>
							Comentarios:
							<textarea name="text" class="form-control" rows="5">{{text}}</textarea>
							<p class="help-block">{{e_text}}</p>
						</label>
					</div>
					<button type="submit" class="btn btn-success">Enviar</button>
					<br>
					<br>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}