{% extends "base_main.html" %}
{% set shareImg = "https://www.teachmeapp.com/static/signup.jpg"%}
{% set title = "Preguntas frecuentes | Teachme" %}
{% set shareText = "Como funciona? como se realiza la asesoría? todas las preguntas que tengas, acá te las resolvemos" %}
{% set shareHt = "faq" %}

{% block body %}
<script language="JavaScript">
	function autoResize(id){
	    var newheight;
	    var newwidth;

	    if(document.getElementById){

	        newheight=document.getElementById(id).contentWindow.document.body.scrollHeight;
	        newwidth=document.getElementById(id).contentWindow.document.body.scrollWidth;
	    }
	    document.getElementById(id).height= (newheight+20) + "px";
	    document.getElementById(id).width= (newwidth) + "px";
	}
</script>

<div class="backgnd" style="background-image: url('/static/signup.jpg')">
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 bckg-b-80">
				<br>
				<iframe src="/static/legal/FAQ.htm" id="iframe1" style="width: 100%; padding:40px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" onLoad="autoResize('iframe1');">Tu navegador está desactualizado.</iframe>
			</div>
		</div>
	</div>
</div>

{% endblock %}