{% extends "base_main.html" %}

{% set title = "Teachme Live"%}

{% block body %}
<div class="cover">
	<div class="container">
		<div class="row" style="margin: 120px 0 0 0;">
			<div class="col-lg-7 col-lg-offset-1 col-md-9">
				<div class="embed-responsive embed-responsive-16by9" id="live-video">
				  <iframe class="embed-responsive-item" src="https://twitch.tv/juliankmazo/embed" frameborder="0" scrolling="no" height="378" width="620" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 bckg-b-80">
				<h3><a href="https://www.teachmeapp.com/teacher/ag1zfnRlYWNobWUtZGV2ciULEgR1c2VyGICAgID4woQKDAsSB3RlYWNoZXIYgICAgICumQoM">Julián Cárdenas Mazo</a></h3>
				<p>Programando Teachme en vivo!</p>
			</div>
		</div>
		<br>
		<br>
	<!-- 	<div class="row" style="margin: 120px 0 0 0;">
			<div class="col-lg-7 col-lg-offset-1 col-md-9">
				<div class="embed-responsive embed-responsive-16by9" id="live-video">
				  <iframe class="embed-responsive-item" src="https://twitch.tv/juliankmazo/embed" frameborder="0" scrolling="no" height="378" width="620" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 bckg-b-80">
				<h3><a href="https://www.teachmeapp.com/teacher/ag1zfnRlYWNobWUtZGV2ciULEgR1c2VyGICAgID6so0KDAsSB3RlYWNoZXIYgICAgIDkkQoM">Johny Marquez</a></h3>
				<p>Dibujando en vivo!</p>
			</div>
		</div> -->
		<br>
		<br>
	</div>
	</div>
</div>

{% endblock %}
