{% extends "base_main.html" %}
{% block title %}
	Teachme
{% endblock %}

{% block body %}
<div class="cover">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="alert alert-warning alert-dismissable" style="position: relative; margin-top: 50px;">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span class="glyphicon glyphicon-info-sign"></span> Muchas gracias por visitar Teachme. Estamos trabajando arduamente para traerte a teachme lo mas pronto posible.
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-8" style="margin: 160px 0 0 0;">
				<h1 class="font-w">Comparte conocimientos con personas alrededor del mundo en <strong>Teachme</strong>.</h1>
			</div>
			<div class="col-md-4" style="margin-top: 160px">
				<h3 class="font-w"><strong>Teachme</strong> es una nueva manera de encontrar asesorias acádemicas en una gran variedad de tópicos</h3>
			</div>
		</div>
		<div class="row" style="margin-top: 360px;">
			<div class="col-md-2 col-md-offset-2 text-center bckg-w-50">
				<h1><span class="glyphicon glyphicon-book"></span></h1>
				<p>Escoge un tema del cual deseas aprender, reforzar, o obtener ayuda. Hay todo un mundo de conocimiento por devorar!</p>
			</div>
			<div class="col-md-2 text-center bckg-w-50">
				<h1><span class="glyphicon glyphicon-user"></span></h1>
				<p>Escoge un asesor de acuerdo a calificaciones de otros usuarios, su experiencia, y su disponibilidad.</p>
			</div>
			<div class="col-md-2 text-center clearfix bckg-w-50">
				<h1><span class="glyphicon glyphicon-calendar"></span></h1>
				<p>Mira el horario disponible del asesor de tu preferencia, y escoge la día y hora que mas se acomode a tu horario.</p>
			</div>
			<div class="col-md-2 text-center bckg-w-50">
				<h1><span class="glyphicon glyphicon-facetime-video"></span></h1>
				<p>Agenda una cita de acuerdo a su horario, y estas listo para tu asesoria mediante una videollamada y una pizarra virtual.</p>
			</div>
		</div>
	</div>
	
</div>

<div class="backgnd" >
<div class="container bckg-b-80">
	<div class="row">
		<div class="col-md-12"><h2>Encuentra mentores por áreas</h2></div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-2 ">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#matematicas" data-toggle="pill">Matemáticas</a></li>
				<li><a href="#fisica" data-toggle="pill">Física</a></li>
				<li><a href="#quimica" data-toggle="pill">Química</a></li>
				<li><a href="#biologia" data-toggle="pill">Biologia</a></li>
				<li><a href="#musica" data-toggle="pill">Música</a></li>
			</ul>
		</div>

		<div class="col-md-6">
			<hr>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="matematicas">
					{% for t in mentors[areas[0]] %}
						<div class="row">
							<div class="col-md-4">
								<a href="/teacher/{{t.key.urlsafe()}}">
									<img class="img-circle img-100" src="/serve/{{t.profile_pic}}">
								</a>
							</div>
							<div class="col-md-8">
								<a href="/teacher/{{t.key.urlsafe()}}"><h3>{{t.name}} {{t.lname}}</h3></a>
								<p class="pf-70">{{t.about|truncate(170, True)}}</p>
								<p>Tarifa: $15 USD por hora</p>
							</div>
						</div>
						<hr>
					{% else %}
						<h3><span class="glyphicon glyphicon-info-sign"></span> Lo sentimos. Estamos trabajando para traerte a los mejores mentores en esta área.</h3>
					{% endfor %}

				</div>
				<div class="tab-pane fade" id="fisica">
					{% for t in mentors[areas[1]] %}
						<div class="row">
							<div class="col-md-4">
								<a href="/teacher/{{t.key.urlsafe()}}">
									<img class="img-circle img-100" src="/serve/{{t.profile_pic}}">
								</a>
							</div>
							<div class="col-md-8">
								<a href="/teacher/{{t.key.urlsafe()}}"><h3>{{t.name}} {{t.lname}}</h3></a>
								<p class="pf-70">{{t.about|truncate(170, True)}}</p>
								<p>Tarifa: $15 USD por hora</p>
							</div>
						</div>
						<hr>
					{% else %}
						<h3><span class="glyphicon glyphicon-info-sign"></span> Lo sentimos. Estamos trabajando para traerte a los mejores mentores en esta área.</h3>
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="quimica">
					{% for t in mentors[areas[2]] %}
						<div class="row">
							<div class="col-md-4">
								<a href="/teacher/{{t.key.urlsafe()}}">
									<img class="img-circle img-100" src="/serve/{{t.profile_pic}}">
								</a>
							</div>
							<div class="col-md-8">
								<a href="/teacher/{{t.key.urlsafe()}}"><h3>{{t.name}} {{t.lname}}</h3></a>
								<p class="pf-70">{{t.about|truncate(170, True)}}</p>
								<p>Tarifa: $15 USD por hora</p>
							</div>
						</div>
						<hr>
					{% else %}
						<h3><span class="glyphicon glyphicon-info-sign"></span> Lo sentimos. Estamos trabajando para traerte a los mejores mentores en esta área.</h3>
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="biologia">
					{% for t in mentors[areas[3]] %}
						<div class="row">
							<div class="col-md-4">
								<a href="/teacher/{{t.key.urlsafe()}}">
									<img class="img-circle img-100" src="/serve/{{t.profile_pic}}">
								</a>
							</div>
							<div class="col-md-8">
								<a href="/teacher/{{t.key.urlsafe()}}"><h3>{{t.name}} {{t.lname}}</h3></a>
								<p class="pf-70">{{t.about|truncate(170, True)}}</p>
								<p>Tarifa: $15 USD por hora</p>
							</div>
						</div>
						<hr>
					{% else %}
						<h3><span class="glyphicon glyphicon-info-sign"></span> Lo sentimos. Estamos trabajando para traerte a los mejores mentores en esta área.</h3>
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="musica">
					{% for t in mentors[areas[4]] %}
						<div class="row">
							<div class="col-md-4">
								<a href="/teacher/{{t.key.urlsafe()}}">
									<img class="img-circle img-100" src="/serve/{{t.profile_pic}}">
								</a>
							</div>
							<div class="col-md-8">
								<a href="/teacher/{{t.key.urlsafe()}}"><h3>{{t.name}} {{t.lname}}</h3></a>
								<p class="pf-70">{{t.about|truncate(170, True)}}</p>
								<p>Tarifa: $15 USD por hora</p>
							</div>
						</div>
						<hr>
					{% else %}
						<h3><span class="glyphicon glyphicon-info-sign"></span> Lo sentimos. Estamos trabajando para traerte a los mejores mentores en esta área.</h3>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>	
{% endblock %}