{% extends "base_main.html" %}
{% block title %}
	{{area}} | Teachme
{% endblock %}
{% block body %}

<script type="text/javascript" src="static/js/pdfobject.js"></script>
<script type='text/javascript'>
  function embedPDF(){
    var myPDF = new PDFObject({ 
      url: '/static/pdf/politicas_de_privacidad.pdf'
    }).embed('containerid'); 
    // Be sure your document contains an element with the ID 'containerid' 
  }
  window.onload = embedPDF; //Feel free to replace window.onload if needed.
</script>

<div class="backgnd" style="background-image: url('/static/signup.jpg')">
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 bckg-b-80">
				<h3>Políticas de privacidad</h3>
				<div id="containerid" style="height:500px; width: 100%;">
					<h5>Parece que tu navegador no soporta Adobe Reader o lector de pdf. No te preoocupes puedes descargarl. <a href="/static/pdf/terminos_de_uso.pdf">Haz click aquí para descargar el PDF</a></h3>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}