{% extends "base_main.html" %}
{% block title %}
	{{user.name}} {{user.lname}} | Teachme
{% endblock %}
{% block body %}

	<div class="backgnd" style="background-image: url('/static/profile.jpg')">
		<br>
		<br>
		<div class="container">
			<div class="row">
				<br>
				<br>
				<div class="col-md-10 col-md-offset-1 bckg-w-80">
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<br>
							<img style= "" class="img-circle img-100" {% if teacher.profile_pic_r %}src="{{teacher.profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
							<h2>{{teacher.name}}</h2>
							<h3>{{teacher.lname}}</h3>
							<div class="row">
								<div class="col-md-12">
									<form role="form" method="post" action="{{upload_url}}" enctype="multipart/form-data">
										<div class="form-group">
											<input type="hidden" name="te_id" value="{{teacher.key.id()}}">
											<label for="t-profile_pic">Foto de perfil</label>
											<input type="file" name="profile_pic" accept="image/*" id="t-profile_pic">
											<p class="help-block">Te recomendamos una foto de 140x140 píxeles</p>
										</div>
										<button type="submit" class="btn btn-success">Actualizar foto</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<br>
							<h2>Acerca de ti</h2>
							<p>{{teacher.about}}</p>
							<div class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Editar<b class="caret"></b></a>
								<ul class="dropdown-menu" style="min-width: 600px;">
									<li>
										<a>
											<form method="post" action="/editabout" role="form">
												<label for="t-editabout">Acerca de ti:</label>
												<textarea name="editabout" class="form-control" id="t-editabout" rows="6" placeholder="Edita la información sobre tu perfil, intereses y motivaciones" required></textarea>
												<button type="submit" class="btn btn-success">Actualizar</button>
											</form>
										</a>
									</li>
								</ul>
							</div>
							<br>
							<p><strong>Tarifa por hora: </strong>{{teacher.fee}} USD</p>
							<p class="help-block">Tu tarifa por hora y en dólares. Recuerda que Teachme cobra una comisión en base a esta tarifa.</p>
							<div class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Editar tarifa<b class="caret"></b></a>
								<ul class="dropdown-menu" style="max-width: 250px;">
									<li>
										<a>
											<form method="post" action="/editabout" role="form">
												<label for="t-fee">Tarifa por hora:</label>
												<input type="number" name="fee" min=0 max=100 class="form-control" id="t-fee" placeholder="USD" required>
												<button type="submit" class="btn btn-success">Actualizar</button>
											</form>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<h3>Ciudad</h3>
							<p>{{teacher.ciudad}}</p>
							<h3>País</h3>
							<p>{{teacher.pais}}</p>
							<h3>Perfil de linkedin</h3>
							<p><a href="{{teacher.linkedin}}" target="_blank">{{teacher.linkedin}}</a></p>
						</div>
						<div class="col-md-7 col-md-offset-1">
							<h3 style="display: inline-block">Áreas del conocimiento&nbsp;&nbsp;&nbsp;&nbsp;</h3><button class="btn btn-success center-block" style="display: inline-block" type="submit">Actualizar áreas</button>
							<form role="form" method="post" action="/editabout">
								<input type="hidden" name="fn" value="editAreas">
							{% for a in areas %}
								<div class="checkbox"><input type="checkbox" name="{{a.key.id()}}" value="{{a.key.id()}}" id="cb{{a.name}}" {% if a.key.id() in teacher.areas %} checked="true"{% endif %}><label for="cb{{a.name}}">{{a.name}}</label></div>
							{% endfor %}
							</form>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<div class="form-group">
								<form method="post" action="/addtags" role="form">
									<h3 for="tags">Conocimientos y habilidades: </h3>
									<input type="text" name="new_tags" class="form-control" id="t-tags" placeholder="Ingrese temas que domina" >
									<p class="help-block">Agrega temas que dominas para visibilizar mejor tu conocimiento</p>
									<input type="hidden" name="te_id" value="{{teacher.key.id()}}">	
									<button class="btn btn-success" type="submit">Agregar</button>
								</form>
							</div>
						</div>
						<div class="col-md-7 col-md-offset-1">
							<br>
							<br>
							{% for a in teacher.tags %}
								<form method="post" action="/addtags"  role="form">
									<div class="tagbox"><button type="submit" class="button-tag" >
									×&nbsp;&nbsp;&nbsp;</button>{{a}}</div>
									<input type="hidden" name="re_id" value="{{teacher.key.id()}}">
									<input type="hidden" name="tag_r" value="{{a}}">
								</form>
							{% endfor %}
						</div>
					</div>
					<hr>
					<br>
					<form role="form" method="post" action="/calendar/teacher/add">
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<h3>Agenda libre</h3>
								<div id="calendarioIn">
									
								</div>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<h3>Horas disponibles</h3>
								<div id="horasIn" class="horas">
								<h3 id="fechaString" style=" margin-top: 10px;margin-left: 6px;"></h3>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="0" value="00:00" id="0"><label for="0"> 0:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="1" value="01:00" id="1"><label for="1"> 1:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="2" value="02:00" id="2"><label for="2"> 2:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="3" value="03:00" id="3"><label for="3"> 3:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="4" value="04:00" id="4"><label for="4"> 4:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="5" value="05:00" id="5"><label for="5"> 5:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="6" value="06:00" id="6"><label for="6"> 6:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="7" value="07:00" id="7"><label for="7"> 7:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="8" value="08:00" id="8"><label for="8"> 8:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="9" value="09:00" id="9"><label for="9"> 9:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="10" value="10:00" id="10"><label for="10"> 10:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="11" value="11:00" id="11"><label for="11"> 11:00 AM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="12" value="12:00" id="12"><label for="12"> 12:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="13" value="13:00" id="13"><label for="13"> 1:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="14" value="14:00" id="14"><label for="14"> 2:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="15" value="15:00" id="15"><label for="15"> 3:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="16" value="16:00" id="16"><label for="16"> 4:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="17" value="17:00" id="17"><label for="17"> 5:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="18" value="18:00" id="18"><label for="18"> 6:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="19" value="19:00" id="19"><label for="19"> 7:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="20" value="20:00" id="20"><label for="20"> 8:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="21" value="21:00" id="21"><label for="21"> 9:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="22" value="22:00" id="22"><label for="22"> 10:00 PM</label></div>
										<div class="checkbox"><input type="checkbox" class="green-checkbox" name="23" value="23:00" id="23"><label for="23"> 11:00 PM</label></div> 
										<input type="hidden" name="te_id" value="{{teacher.key.id()}}">
								</div>
							</div>
						</div>
						<br>
						<button class="btn btn-success center-block" type="submit">Estoy disponible</button>
						<br>
					</form>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 bckg-w-80">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<h3>Que piensan los usuarios de ti</h3>
							<span class="starReviews-gray"><span class="starReviews" style="width:{{teacher.rating*20}}%"></span></span><span> </span><span class="glyphicon glyphicon-comment"></span><span> {{teacher.reviews}}</span>
						</div>
					</div>
					<hr>
					{% for r in reviews%}
						<div class="row">
							<div class="col-md-2 col-md-offset-1">
								<img class="img-circle img-40" {% if r.user.get().profile_pic_r %}src="{{r.user.get().profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
							</div>
							<div class="col-md-8">
								<span class="starReviews-gray"><span class="starReviews" style="width:{{r.rating*20}}%"></span></span> <span>{{r.date.strftime("%b %d, %Y")}}</span>
								<p>{{r.comment}}</p>
								<p><strong>{{r.user.get().name}}</strong></p>
							</div>
						</div>
						<hr>
					{% endfor %}
				</div>
			</div>
		</div>	
	</div>
	<script type="text/javascript">

		$(document).ready(function() {
			$.datepicker.regional['es'] = {
		        closeText: 'Cerrar',
		        prevText: '<Ant',
		        nextText: 'Sig>',
		        currentText: 'Hoy',
		        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        weekHeader: 'Sm',
		        dateFormat: 'yy-mm-dd',
		        firstDay: 1,
		        isRTL: false,
		        showMonthAfterYear: false,
		        yearSuffix: ''
		    };
			var availableTags ={{taglist|safe}};
			$( "#t-tags" ).autocomplete({
				source: availableTags
			});

		    var fechas = {{fechas|safe}};
		    var dates_local = [];
		    var hours_local = {};
		    for (var f = 0; f < fechas.length; f++){

		    	//var dt = new Date(fechas[f]);
		    	var dt = new Date(fechas[f])
		    	//var str_dt = dt.getFullYear().toString()+'-'+(dt.getMonth()+1).toString()+'-'+dt.getDate().toString();
		    	var str_dt = moment(dt).format("YYYY-MM-DD")

		    	if (dates_local.indexOf(str_dt)>=0){}
		    	else{
		    		dates_local.push(str_dt);
		    	}
		    	
		    	
		    	if (hours_local.hasOwnProperty(str_dt)){
		    		hours_local[str_dt].push(dt);
		    	} else {
		    		hours_local[str_dt] = [dt];
		    	}
		    };

		    var dates = dates_local;
		    var hours = hours_local;
		    var today = new Date();
		 //   var cd = today.getFullYear().toString()+'-'+(today.getMonth()+1).toString()+'-'+today.getDate().toString();
		    var cd = moment(today).format("YYYY-MM-DD");
		 //    $("#horas").replaceWith( function(){
		 //    	var s = "<div id='horas' class='horas'> <h3>"+ cd +"</h3>";
		 //    	if(cd in hours){
		 //    		for (var h = 0; h < hours[cd].length; h++) {
		 //    		s = s+"<p class='lead'>"+hours[cd][h].toLocaleTimeString()+"</p class='lead'>";
		 //    		};
		 //   		};
		    	
		 //    	s = s+"</div";
		 //    	return s;
		 //    });
			document.getElementById("fechaString").innerHTML = moment().lang('es').format("dddd D, MMMM");
     		var d = new Date(cd+"T12:00");
			for (var h = 0; h<24; h++) {
				var c=document.getElementById(h.toString())
				c.checked = false;
				d.setHours(h);
				c.value = d.getUTCFullYear()+"-"+(parseInt(d.getUTCMonth())+1).toString()+"-"+d.getUTCDate()+" "+d.getUTCHours()+":"+d.getUTCMinutes();
			}
			if(cd in hours){
	     		for (var h = 0; h < hours[cd].length; h++) {
	     			document.getElementById(hours[cd][h].getHours().toString()).checked = true;
	     		};
	     	};
		    	

			 $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
			// $('#calendario').datepicker({
			// 	beforeShowDay : function(date){
			// 		var y = date.getFullYear().toString(); // get full year
			// 		var m = (date.getMonth() + 1).toString(); // get month.
			// 		var d = date.getDate().toString(); // get Day
			// 		var currDate = y+'-'+m+'-'+d;
			// 		if(dates.indexOf(currDate) >= 0){
			// 			return [true,"ui-highlight", ""];	
			// 		}else{
			// 			return [false];
			// 		}					
			// 	},
			// 	onSelect : function(date){
			// 		$("#horas").replaceWith( function(){
		 //    			var s = "<div id='horas' class='horas'> <h3>"+date+"</h3>";
		 //    			for (var h = 0; h < hours[date].length; h++) {
		 //    				s = s+"<p class='lead'>"+hours[date][h].toLocaleTimeString()+"</p class='lead'>";
		 //    			};
		 //    			s = s+"</div";
		 //    			return s;
			// 		});
			// 	},

			// });
			$('#calendarioIn').datepicker({
				beforeShowDay : function(date){
					// var y = date.getFullYear().toString(); // get full year
					// var m = (date.getMonth() + 1).toString(); // get month.
					// var d = date.getDate().toString(); // get Day
					// var currDate = y+'-'+m+'-'+d;
					currDate = moment(date).format("YYYY-MM-DD")
					if(dates.indexOf(currDate) >= 0){
						return [true,"ui-highlight", ""];	
					}else if( date <= moment().subtract('days', 1)){
						return [false];
					}else{
						return [true];
					}					
				},
				onSelect : function(date){
					document.getElementById("fechaString").innerHTML = moment(date).lang('es').format("dddd D, MMMM");
					var d = new Date(date.toString()+"T12:00");
					for (var h = 0; h<24; h++) {
						var c=document.getElementById(h.toString())
						c.checked = false;
						d.setHours(h);
						c.value = d.getUTCFullYear()+"-"+(parseInt(d.getUTCMonth())+1).toString()+"-"+d.getUTCDate()+" "+d.getUTCHours()+":"+d.getUTCMinutes();
					}
					if(hours[date]) {
		    			for (var h = 0; h < hours[date].length; h++) {
		    				document.getElementById(hours[date][h].getHours().toString()).checked = true;
		    			};
		    		};
				},

			});
			$('#datetime').change(function(){
				var str = $(this).val();
				var badDate = new Date(str);
				var date = new Date();
				var timezoneOffset = date.getTimezoneOffset();
				date.setFullYear(badDate.getUTCFullYear());
				date.setMonth(badDate.getUTCMonth());
				date.setDate(badDate.getUTCDate());
				date.setHours(badDate.getUTCHours());
				date.setMinutes(badDate.getUTCMinutes());
				date.setSeconds(0);
				var UTCdate = date.getUTCFullYear()+"-"+(parseInt(date.getUTCMonth())+1).toString()+"-"+date.getUTCDate()+" "+date.getUTCHours()+":"+date.getUTCMinutes();
				$('#dateto_target').val(UTCdate);
				$('#timezoneOffset').val(timezoneOffset);

			})
		});
	</script>

{% endblock %}

