{% extends "base_main.html" %}
{% set shareImg = "https://www.teachmeapp.com/static/signup.jpg"%}
{% set title = "Registrate gratis | Teachme" %}
{% set shareText = "Registrate en teachme y encuentra el conocimiento detras de las personas" %}
{% set shareHt = "teachme" %}

{% block body %}

<div class="backgnd" style="background-image: url('/static/signup.jpg')">
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 bckg-b-80">
				<h3>Regístrate desde ya en Teachme y llénate de conocimiento</h3>
				<form role="form" method="post" id="signupForm">
					<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
					</fb:login-button>
					<h5>O tambien puedes registrarte con tu correo:</h5>
					<div class="form-group">
						<label class="sr-only" for="name">Nombre</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
							<input type="text" name="name" value="{{name}}" class="form-control" placeholder="Ingresa tu nombre" id="name">
						</div>
						<p class="help-block">{{error_name}}</p>
					</div>
					<div class="form-group">
						<label class="sr-only" for="lname">Apellidos</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
							<input type="text" name="lname" value="{{lname}}" class="form-control" placeholder="Ingresa tus apellidos" id="lname">
						</div>
						<p class="help-block">{{error_lame}}</p>
					</div>
					<div class="form-group">
						<label class="sr-only" for="mail">E-Mail</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
							<input type="email" name="mail" value="{{mail}}" class="form-control" placeholder="email@domain.com" id="mail">
						</div>
						<p class="help-block">{{error_mail}}</p>
					</div>
					<div class="form-group">
						<label class="sr-only" for="pw">Contraseña</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
							<input type="password" name="pw" class="form-control" id="pw" placeholder="Ingresa tu password">
						</div>
						<p class="help-block">{{error_pw}}</p>
					</div>
					<div class="form-group">
						<label class="sr-only" for="pwcon">Confirmar contraseña</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
							<input type="password" name="pwcon" class="form-control" id="pwcon" placeholder="Confirma tu password">
						</div>
						<p class="help-block">{{error_pwcon}}</p>
					</div>
					<button type="submit" class="btn btn-success">Registrate</button>
					<input type="hidden" name="redirect" value={{redirect}}>
					<input type="hidden" name="timezoneOffset" id="timezoneOffset">
					<input type="hidden" name="gender" id="gender">
					<input type="hidden" name="fbID" id="fbID">
					<script type="text/javascript">
						var timezoneOffset = new Date().getTimezoneOffset();
						$('#timezoneOffset').val(timezoneOffset);
					</script>
					<br>
					<br>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}