{% extends "base_main.html" %}
{% block title %}
	Tus teachouts | Teachme
{% endblock %}
{% block body %}

	<div class="backgnd" style="background-image: url('/static/teachouts.jpg')">
		<br>
		<br>
		<div class="container">
			{% if teacher.teachouts %}
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<h2 class="font-w">Próximas sesiones a dar</h2>
					</div>
				</div>
			{% endif %}
			{% for t in teacher.teachouts %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80" title="Faltan {{m_faltan[t]}} para que empieze la mentoria">	
						<div class="row">
							<div class="col-md-3">
								<img {% if learner[t].profile_pic_r %} src="{{learner[t].profile_pic_r}}" {% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<h4>{{m_touts[t].area}} - Sin costo</h4>
									</div>
									<div class="col-md-6">
										<script type="text/javascript">
											$(document).ready(function(){
												date = new Date();
												date.setTime(Date.parse("{{m_touts[t].date.strftime("%Y-%m-%dT%H:%MZ")}}"));
												console.log(date);
												$('#{{m_touts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
											})
										</script>
										<p id="{{m_touts[t].key.id()}}"></p>
									</div>
								</div>
								<hr class="hr">
								<div class="row">
									<div class="col-md-8">
										<h4><strong>{{learner[t].name}}</strong> {{learner[t].lname}}</h4>
									</div>
									<div class="col-md-4">
										<div class="row">
											<a href="/session/?r={{m_touts[t].key.id()}}" target="_blank"> 
												<button class="btn btn-success" {% if m_disable[t] == True %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-facetime-video"></span> Únete ahora</button>
											</a>
										</div>
										<div class="row">
											<a target="_blank" href="/teachout/cancel/{{m_touts[t].key.urlsafe()}}">
												<button class="btn btn-danger" disabled="disabled" style="margin-top:6px;">Cancelar</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
			{% endfor %}
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<h2 class="font-w">Próximas sesiones a recibir</h2>
				</div>
			</div>
			{% for t in user.teachouts %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80" title="Faltan {{faltan[t]}} para que empieze la mentoria">	
						<div class="row">
							<div class="col-md-3">
								<img {% if mentor[t].profile_pic_r %}src="{{mentor[t].profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<h4>{{touts[t].area}} - Sin costo</h4>
									</div>
									<div class="col-md-6">
										<script type="text/javascript">
											$(document).ready(function(){
												date = new Date();
												date.setTime(Date.parse("{{touts[t].date.strftime("%Y-%m-%dT%H:%MZ")}}"));
												console.log(date);
												$('#{{touts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
											})
										</script>
										<p id="{{touts[t].key.id()}}"></p>
									</div>
								</div>
								<hr class="hr">
								<div class="row">
									<div class="col-md-8">
										<h4><strong>{{mentor[t].name}}</strong> {{mentor[t].lname}}</h4>
									</div>
									<div class="col-md-4">
										<div class="row">
											{% if touts[t].pago == True %}
												<a href="/session/?r={{touts[t].key.id()}}" target="_blank">
													<button class="btn btn-success" {% if disable[t] == True %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-facetime-video"></span> Unete ahora</button>
												</a>
											{% else %}
													<button class="btn btn-success" style="background-color:#428bca;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;Paga la sesión</button>
											{% endif %}
										</div>
										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										        <h4 class="modal-title font-b" id="myModalLabel" >Plataformas de pago</h4>
										      </div>
										      <form role="form" method="post">
											    	<div class="modal-body font-b">
											    		<div class="row">
															<div class="col-md-12">
														    	<div class="input-group">
														    		<h5 class="modal-title font-b">Bonos de descuento</h5>
														    		<div class="input-group">
															    		<span class="input-group-addon">$</span>
															    		<input type="text" name="codigo" class="form-control" placeholder="Ingrese el código" value="{{codigo}}" autocomplete="off">
															    		<input type="hidden" name="teachout_key" value="{{t.urlsafe()}}">	
															    	</div>
														    	</div>
														  	</div>
														 </div>
													</div>
													 <!-- Botón de Paypal -->
													<!-- <div class="row">
														<div class="col-md-10 offset-4">
															<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
																<input type="hidden" name="cmd" value="_s-xclick">
																<input type="hidden" name="hosted_button_id" value="GHP6J9H8W562J">
																<table>
																	<tr><td><input type="hidden" name="on0" value="Cantidad de horas">Cantidad de horas</td></tr><tr><td><select name="os0">
																		<option value="1 hora">1 hora $15.00 USD</option>
																		<option value="2 horas">2 horas $30.00 USD</option>
																		<option value="3 horas">3 horas $45.00 USD</option>
																		<option value="4 horas">4 horas $60.00 USD</option>
																	</select> </td></tr>
																</table>
																<input type="hidden" name="currency_code" value="USD">
																<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
																<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
															</form>
														</div>
													</div> -->
													<!-- Botón de Paypal -->
													<br>
													<br>
													<br>
												    <div class="modal-footer">
												        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
												        <button type="submit" class="btn btn-primary">Procesar pago</button>
												    </div>
											   </form>
										    </div>
										  </div>
										</div>
										<!-- Modal -->
										<div class="row">
											<a href="/teachout/cancel/{{touts[t].key.urlsafe()}}">
												<button class="btn btn-danger" disabled="disabled" style="margin-top:6px;">Cancelar</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
			{% else %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80">
						<h3><span class="glyphicon glyphicon-info-sign"></span> No has agendado ninguna sesión.</h3>
					</div>
				</div>
			{% endfor %}
			{% if teacher %}
				{% if teacher.teachouts_expired %}
					<div class="row">
						<div class="col-md-5 col-md-offset-1">
							<h2 class="font-w">Sesiones dadas</h2>
						</div>
					</div>
				{% endif %}
				{% for t in teacher.teachouts_expired|reverse() %}
					<div class="row">
						<div class="col-md-6 col-md-offset-3 bckg-b-80">	
							<div class="row">
								<div class="col-md-3">
									<img {% if elearner[t].profile_pic_r %} src="{{elearner[t].profile_pic_r}}" {% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-6">
											<h4>{{m_etouts[t].area}} - Sin costo</h4>
										</div>
										<div class="col-md-6">
											<script type="text/javascript">
												$(document).ready(function(){
													date = new Date();
													date.setTime(Date.parse("{{m_etouts[t].date.strftime("%Y-%m-%dT%H:%MZ")}}"));
													console.log(date);
													$('#{{m_etouts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
												})
											</script>
											<p id="{{m_etouts[t].key.id()}}"></p>
										</div>
									</div>
									<hr class="hr">
									<div class="row">
										<div class="col-md-8">
											<h4><strong>{{elearner[t].name}}</strong> {{elearner[t].lname}}</h4>
										</div>
										<div class="col-md-4">
											<div class="row">
												<button {% if m_etouts[t].status=="ok" %} class="btn btn-success" {% else %} class="btn btn-danger" {%endif %} disabled="disabled">{% if m_etouts[t].status=="ok" %} Realizada {% else %} No realizada {%endif %}</button> 
											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<br>
				{% endfor %}
			{% endif %}
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<h2 class="font-w">Sesiones recibidas</h2>
				</div>
			</div>
			{% for t in user.teachouts_expired|reverse() %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80">	
						<div class="row">
							<div class="col-md-3">
								<img {% if ementor[t].profile_pic_r %}src="{{ementor[t].profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<h4>{{etouts[t].area}} - Sin costo</h4>
									</div>
									<div class="col-md-6">
										<script type="text/javascript">
											$(document).ready(function(){
												date = new Date();
												date.setTime(Date.parse("{{etouts[t].date.strftime("%Y-%m-%dT%H:%MZ")}}"));
												console.log(date);
												$('#{{etouts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
											})
										</script>
										<p id="{{etouts[t].key.id()}}"></p>
									</div>
								</div>
								<hr class="hr">
								<div class="row">
									<div class="col-md-8">
										<h4><strong>{{ementor[t].name}}</strong> {{ementor[t].lname}}</h4>
									</div>
									<div class="col-md-4">
										<div class="row">
											<button {% if etouts[t].status=="ok" %} class="btn btn-success" {% else %} class="btn btn-danger" {%endif %} disabled="disabled">{% if etouts[t].status=="ok" %} Realizada {% else %} No realizada {%endif %}</button> 
										</div>
									</div>
								</div>
								<div class="row">
									{% if etouts[t].status=="ok" %}
										{% if etouts[t].rating %}
											<div class="col-md-5">
												<h4 class="text-primary">
							        				<span class="glyphicon glyphicon-star"></span>
							        				<span class="glyphicon glyphicon-star"></span>
							        				<span class="glyphicon glyphicon-star"></span>
							        				<span class="glyphicon glyphicon-star"></span>
							        				<span class="glyphicon glyphicon-star"></span>
												</h4>
											</div>
										{% else %}
											<div class="col-md-5">
												<p><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#review{{t.id()}}"><span class="glyphicon glyphicon-star"></span> Califica este mentor</button></p>
											</div>

											<!-- Modal para calificación -->
											<div class="modal fade" id="review{{t.id()}}" tabindex="-1" role="dialog" aria-labelledby="review{{t.id()}}Label" aria-hidden="true">
												<div class="modal-dialog">
												    <div class="modal-content">
													    <div class="modal-header">
													    	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													    	<h4 class="modal-title font-b" id="review{{t.id()}}label">Califica a {{ementor[t].name}}</h4>
													    </div>
													    <form role="form" action="/calificar" method="post">
													      	<div class="modal-body">
													        	<div class="row">
													        		<div class="col-md-3 col-md-offset-1">
													        			<img {% if ementor[t].profile_pic_r %}src="{{ementor[t].profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
													        		</div>
													        		<div class="col-md-7">
													        			<div class="form-group">
													        				<h4 class="text-primary">
														        				<span class="glyphicon glyphicon-star-empty star1"></span>
														        				<span class="glyphicon glyphicon-star-empty star2"></span>
														        				<span class="glyphicon glyphicon-star-empty star3"></span>
														        				<span class="glyphicon glyphicon-star-empty star4"></span>
														        				<span class="glyphicon glyphicon-star-empty star5"></span>
													        				</h4>
													        				<input type="hidden" name="reviewRating" class="reviewStar">
													        				<p class="help-block">Califica de 1 a 5 tu experiencia con {{ementor[t].name}} </p>
													        				<p class="help-block has-error">{{msg}}</p>
													        			</div>
													        		</div>
													        	</div>
													        	<hr>
													        	<div class="row">
													        		<div class="col-md-10 col-md-offset-1">
													        			<div class="form-group">
													        				<textarea class="form-control" rows="5" name="reviewComment" placeholder="Escribe un comentario acerca de tu experiencia con {{ementor[t].name}}"></textarea>
													        				<p class="help-block">Tu comentario podra ser visto por los usuarios de Teachme</p>
													        			</div>
													        		</div>
													        	</div>
													      	</div>
													      	<div class="modal-footer">
													      		<input type="hidden" name="reviewMentor" value="{{ementor[t].key.urlsafe()}}">
													      		<input type="hidden" name="reviewTout" value="{{t.urlsafe()}}">
													        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
													        	<button type="submit" class="btn btn-primary">Calificar</button>
													      	</div>
												      	</form>
												    </div>
												</div>
											</div>
											<!-- Termina modal para calificación-->
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
			{% else %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80">
						<h3><span class="glyphicon glyphicon-info-sign"></span> No has agendado ninguna sesión.</h3>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
<script type="text/javascript">
	$(document).ready( function(){
		// $(".star1").hover( function(){
		// 	$(this).toggleClass("glyphicon-star-empty glyphicon-star");
		// })
		// $(".star2").hover( function(){
		// 	$(".star1").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(this).toggleClass("glyphicon-star-empty glyphicon-star");
		// })
		// $(".star3").hover( function(){
		// 	$(".star1").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(".star2").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(this).toggleClass("glyphicon-star-empty glyphicon-star");
		// })
		// $(".star4").hover( function(){
		// 	$(".star1").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(".star2").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(".star3").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(this).toggleClass("glyphicon-star-empty glyphicon-star");
		// })
		// $(".star5").hover( function(){
		// 	$(".star1").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(".star2").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(".star3").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(".star4").toggleClass("glyphicon-star-empty glyphicon-star");
		// 	$(this).toggleClass("glyphicon-star-empty glyphicon-star");
		// })

		$(".star1").click( function(){
			$(this).removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star2").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".star3").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".star4").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".reviewStar").val(1);
		})
		$(".star2").click( function(){
			$(".star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(this).removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star3").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".star4").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".reviewStar").val(2);
		})
		$(".star3").click( function(){
			$(".star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(this).removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star4").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".reviewStar").val(3);
		})
		$(".star4").click( function(){
			$(".star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(this).removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$(".reviewStar").val(4);
		})
		$(".star5").click( function(){
			$(".star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".star4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(this).removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$(".reviewStar").val(5);
		})
	})
</script>
{% endblock %}