{% extends "base_main.html" %}
{% block title %}
	Tus teachouts | Teachme
{% endblock %}
{% block body %}

	<div class="backgnd" style="background-image: url('/static/teachouts.jpg')">
		<br>
		<br>
		<div class="container">
			{% if teacher.teachouts %}
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<h2 class="font-w">Próximas sesiones a dar</h2>
					</div>
				</div>
			{% endif %}
			{% for t in teacher.teachouts %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80" title="Faltan {{m_faltan[t]}} para que empieze la mentoria">	
						<div class="row">
							<div class="col-md-3">
								<img {% if learner[t].profile_pic_r %} src="{{learner[t].profile_pic_r}}" {% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<h4>{{m_touts[t].area}} - Sin costo</h4>
									</div>
									<div class="col-md-6">
										<script type="text/javascript">
											$(document).ready(function(){
												date = new Date("{{m_touts[t].date.strftime("%Y-%m-%d %H:%M UTC")}}");
												console.log(date);
												$('#{{m_touts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
											})
										</script>
										<p id="{{m_touts[t].key.id()}}"></p>
									</div>
								</div>
								<hr class="hr">
								<div class="row">
									<div class="col-md-8">
										<h4><strong>{{learner[t].name}}</strong> {{learner[t].lname}}</h4>
									</div>
									<div class="col-md-4">
										<div class="row">
											<a href="/session/?r={{m_touts[t].key.id()}}" target="_blank"> 
												<button class="btn btn-success" {% if m_disable[t] == True %} disabled="disabled"{% endif %}>Únete ahora</button>
											</a>
										</div>
										<div class="row">
											<a target="_blank" href="/teachout/cancel/{{m_touts[t].key.urlsafe()}}">
												<button class="btn btn-danger" disabled="disabled">Cancelar</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
			{% endfor %}
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<h2 class="font-w">Próximas sesiones a recibir</h2>
				</div>
			</div>
			{% for t in user.teachouts %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80" title="Faltan {{faltan[t]}} para que empieze la mentoria">	
						<div class="row">
							<div class="col-md-3">
								<img {% if mentor[t].profile_pic_r %}src="{{mentor[t].profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<h4>{{touts[t].area}} - Sin costo</h4>
									</div>
									<div class="col-md-6">
										<script type="text/javascript">
											$(document).ready(function(){
												date = new Date("{{touts[t].date.strftime("%Y-%m-%d %H:%M UTC")}}");
												console.log(date);
												$('#{{touts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
											})
										</script>
										<p id="{{touts[t].key.id()}}"></p>
									</div>
								</div>
								<hr class="hr">
								<div class="row">
									<div class="col-md-8">
										<h4><strong>{{mentor[t].name}}</strong> {{mentor[t].lname}}</h4>
									</div>
									<div class="col-md-4">
										<div class="row">
											<a href="/session/?r={{touts[t].key.id()}}" target="_blank">
												<button class="btn btn-success" {% if disable[t] == True %} disabled="disabled"{% endif %}>Unete ahora</button>
											</a>
										</div>
										<div class="row">
											<a href="/teachout/cancel/{{touts[t].key.urlsafe()}}">
												<button class="btn btn-danger" disabled="disabled">Cancelar</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
			{% else %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80">
						<h3><span class="glyphicon glyphicon-info-sign"></span> No has agendado ninguna sesión.</h3>
					</div>
				</div>
			{% endfor %}
<!-- Modificación Juanes -->
			{% if teacher %}
				{% if teacher.teachouts_expired %}
					<div class="row">
						<div class="col-md-5 col-md-offset-1">
							<h2 class="font-w">Sesiones dadas</h2>
						</div>
					</div>
				{% endif %}
				{% for t in teacher.teachouts_expired[:5] %}
					<div class="row">
						<div class="col-md-6 col-md-offset-3 bckg-b-80">	
							<div class="row">
								<div class="col-md-3">
									<img {% if elearner[t].profile_pic_r %} src="{{elearner[t].profile_pic_r}}" {% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-6">
											<h4>{{m_etouts[t].area}} - Sin costo</h4>
										</div>
										<div class="col-md-6">
											<script type="text/javascript">
												$(document).ready(function(){
													date = new Date("{{m_etouts[t].date.strftime("%Y-%m-%d %H:%M UTC")}}");
													console.log(date);
													$('#{{m_etouts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
												})
											</script>
											<p id="{{m_etouts[t].key.id()}}"></p>
										</div>
									</div>
									<hr class="hr">
									<div class="row">
										<div class="col-md-8">
											<h4><strong>{{elearner[t].name}}</strong> {{elearner[t].lname}}</h4>
										</div>
										<div class="col-md-4">
											<div class="row">
												<button {% if m_etouts[t].status=="ok" %} class="btn btn-success" {% else %} class="btn btn-danger" {%endif %} disabled="disabled">{% if m_etouts[t].status=="ok" %} Realizada {% else %} No realizada {%endif %}</button> 
											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<br>
				{% endfor %}
			{% endif %}
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<h2 class="font-w">Sesiones recibidas</h2>
				</div>
			</div>
			{% for t in user.teachouts_expired[:5] %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80">	
						<div class="row">
							<div class="col-md-3">
								<img {% if ementor[t].profile_pic_r %}src="{{ementor[t].profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %} class="img-circle img-100">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<h4>{{etouts[t].area}} - Sin costo</h4>
									</div>
									<div class="col-md-6">
										<script type="text/javascript">
											$(document).ready(function(){
												date = new Date("{{etouts[t].date.strftime("%Y-%m-%d %H:%M UTC")}}");
												console.log(date);
												$('#{{etouts[t].key.id()}}').text(date.toDateString()+' at '+ date.toLocaleTimeString());
											})
										</script>
										<p id="{{etouts[t].key.id()}}"></p>
									</div>
								</div>
								<hr class="hr">
								<div class="row">
									<div class="col-md-8">
										<h4><strong>{{ementor[t].name}}</strong> {{ementor[t].lname}}</h4>
									</div>
									<div class="col-md-4">
										<div class="row">
											<button {% if etouts[t].status=="ok" %} class="btn btn-success" {% else %} class="btn btn-danger" {%endif %} disabled="disabled">{% if etouts[t].status=="ok" %} Realizada {% else %} No realizada {%endif %}</button> 
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
			{% else %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 bckg-b-80">
						<h3><span class="glyphicon glyphicon-info-sign"></span> No has agendado ninguna sesión.</h3>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}