{% extends "base_main.html" %}
{% set shareImg = mentor.profile_pic_r %}
{% set title = mentor.name+" "+mentor.lname+" | Teachme" %}
{% set shareText = "Conoce a "+mentor.name+" "+mentor.lname+" y accede a todo el conocimiento que posee" %}
{% set shareHt = "teachme" %}

{% block description %}
	<meta name="description" content="{{mentor.name}} {{mentor.lname}} te puede ayudar en temas como {% for a in t_areas %}{{a.name}}{% if not loop.last %}, {% else %}.{% endif %}{% endfor %}">
{% endblock %}
{% block body %}

	<div class="backgnd" style="background-image: url('/static/profile.jpg')">
		{% if flag == "FAILED" %}   
			<div class="alert alert-danger alert-dismissible" role="alert" style="position: absolute; margin-left: 10%; width:80%;z-index: 2;">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" >&times;</span><span class="sr-only">Cerrar</span></button>
				<strong>Transacción fallida!</strong> Tus datos de pago no fueron procesados con éxito. Inténtalo nuevamente.
			</div>
		{%endif %}
		<div class="container">
			<div class="row">
				<br>
				<div class="col-md-10 col-md-offset-1 bckg-w-80">
					<div class="share-mentor">
						<p class="text-center">Compárteme <!-- <span class="flaticon-heart15"></span> -->
							<a style="font-size:27px"  href="https://www.facebook.com/dialog/share?app_id=1519397808297922&display=popup&href={{shareUrl}}&redirect_uri={{shareUrl}}" class="share-fb" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<span class="flaticon-facebook29"></span>
							</a>
							<a style="font-size:27px"  href="https://twitter.com/share?url={{shareUrl}}&via=teachme_app&text={{shareText|replace(' ','+')}}&hashtags={{shareHt}}" class="share-tw" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<span class="flaticon-social38"></span>
							</a>
							<a style="font-size:27px"  href="https://plus.google.com/share?url={{shareUrl}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="share-gplus">
								<span class="flaticon-social5"></span>
							</a>
						</p>
					</div>
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<br>
							<img class="img-circle img-150" {% if mentor.profile_pic_r %}src="{{mentor.profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
							<br>
							<br>
							<div class="row">
								<div class="col-md-12">
									<span class="starReviews-gray">
										<span class="starReviews" style="width:{{mentor.rating*20}}%"></span>
									</span>
									<span> </span>
									<span class="glyphicon glyphicon-comment"></span>
									<span> {{mentor.reviews}}</span>
								</div>
							</div>
							<div class="row">
								<button class="btn btn-success" type="button" id="buttonBooking" data-toggle="modal" data-target="#modalBooking"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Agenda una hora</button>
							</div>
							<p><span class="glyphicon glyphicon-credit-card"></span> {{mentor.fee}} USD por hora</p>
						</div>
						<!-- Start Booking Modal -->
						<div class="modal fade" id="modalBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  	<div class="modal-dialog modal-lg">
						    	<div class="modal-content">
						      		<div class="modal-header">
						        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
						        		<h4 class="modal-title" id="myModalLabel">Horarios Disponibles</h4>
						      		</div>
						      		<div class="modal-body">
							        	<form role="form" method="post" id="schedule-form">
											<div class="row">
												<div class="col-md-4 col-md-offset-1" style="padding:0px;">
													<label>Agenda libre</label>
													<div class="calendario">
													</div>
												</div>
												<div class="col-md-3" style="padding-left:0px;">
													<label>Horas disponibles</label>
													<div id="horas">
													</div>
												</div>
												<div class="col-md-3">
													<div class="row">
														<div class="form-group">
															<label for="t-select-area">Área</label>
															<select name ="select-area" class="form-control" id="t-select-area" required>
																{% for a in t_areas %}
																	<option value= "{{a.name}}">{{a.name}}</option>
																{% endfor %}
															</select>
														</div>
													</div>
													<div class="row">
														<div class="form-group">
															<label for="t-temas">Temas de la sesión</label>
															<textarea name="tema" class="form-control" id="t-temas" rows="7" placeholder="Aprovecha este espacio para comunicarle al mentor los temas que quisieras abordar durante la sesión." required></textarea>
														</div>
													</div>
												</div>
											</div>
											<input type="hidden" name="timezoneOffset" id="timezoneOffset">
										</form>
										<div class="row">
											<div class ="col-md-10 col-md-offset-1">
												<h6 id="error-tema" style="color: red" align="center"></h6>
												<h6 id="error-hora" style="color: red" align="center"></h6>
												{% if fechas|length == 0 %}
													<h5 align="center">El mentor no ha configurado horas disponibles&nbsp;<br>
													<a href="#" data-toggle="modal" data-target="#modalMsg"><span class="glyphicon glyphicon-comment"></span> Envíale un mensaje</a> para proponerle una hora</h5>
												{% else %}
													<h5 align="center">Ninguna hora te satisface?&nbsp;
													<a href="#" data-toggle="modal" data-target="#modalMsg"><span class="glyphicon glyphicon-comment"></span> Envíale un mensaje</a> para proponerle una hora</h5>
												{% endif %}
											</div>
										</div>
						      		</div>
						      		<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
										{% if mentor.fee > 0 %}
											<button class="btn btn-success pull-right" type="button" data-toggle="modal" data-target="#modalPayment" id="buttonSchedule" disabled="false"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Agendar</button>
										{% else %}
											<input type="hidden" name="metodo_pago" value="GRATIS">
											<button class="btn btn-success pull-right" type="submit" id="buttonSchedule" disabled="false"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Agendar</button>
										{% endif %}
						      		</div>
						    	</div>
						  	</div>
						</div>
						<div class="col-md-7">
							<h1>{{mentor.name}}&nbsp;<small>{{mentor.lname}}</small></h1>
							<br>
							<h4><small>Acerca</small></h4>
							<p class="text-justify">{{mentor.about}}</p>
						</div>
					</div>
					<hr style="margin-top:0px;">
					<div class="row">
						<div class="col-md-3 col-md-offset-1" id="teacher-data">
							<h4><small>Ciudad:</small> {{mentor.ciudad}}</h4>
							<h4><small>País:</small> {{mentor.pais}}</h4>
							<h4><small>Redes Sociales:   </small>{% if mentor.linkedin %}<a href="{{mentor.linkedin}}" target="_blank"><span class="flaticon-linkedin7" style="color: #4875B4; font-size:25px;"></span></a>{% endif %}</h4>
						</div>
						<div class="col-md-3">
							<h4><small>Áreas del conocimiento</small></h4>
							{% for a in t_areas %}
								<h4>{{a.name}}</h4>
							{% endfor %}
						</div>
						<div class="col-md-4">
							<h4 for="tags"><small>Conocimientos y habilidades</small></h4>
							{% for a in mentor.tags %}
								<div class="tagbox">{{a}}</div>
							{% endfor %}
						</div>
					</div>

					<div class="modal fade" id="modalMsg">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title"><img class="img-circle img-60" {% if mentor.profile_pic_r %}src="{{mentor.profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;Mensaje para {{mentor.name}} {{mentor.lname}}:</h4>
					      </div>
					      <div class="modal-body">
					        <form method="post" action="/msg2mentor" role="form">
								<textarea name="message" class="form-control" id="t-message" rows="3" placeholder="Solicítale una hora al tutor que se ajuste a tu horario, o pregúntale algo que quieras saber sobre él, antes de agendar." required></textarea>
								<input type="hidden" name="teacher_key" value="{{mentor.key.urlsafe()}}">
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					        <button type="submit" class="btn btn-success">Enviar mensaje</button>
							</form>	
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					{% if mentor.fee > 0 %}
					<!-- Modal Plataforma de pago-->
					<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form role="form" method="post" id="payment-form">
							  		<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title font-b inline" id="myModalLabel" >Recibimos todas las tarjetas de crédito</h4>
										<img src="/static/img/creditcards.png" class="img-responsive inline">
							  		</div>
									<div class="modal-body font-b">
										<span class"payment-errors"></span>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></div>
												<input type="text" data-stripe="number" class="form-control" id="paymentCard" placeholder="Número de tarjeta">
												<div class="input-group-addon"><span id="cardType"></span></div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5">
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
														<input type="text" data-stripe="CVC" class="form-control" id="paymentCVC" placeholder="CVC">
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
														<input type="text" data-stripe="exp-month" class="form-control" id="paymentExpMonth" placeholder="MM">
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
														<input type="text" data-stripe="exp-year" class="form-control" id="paymentExpYear" placeholder="YYYY">
													</div>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-10 col-md-offset-1">
												<p class="text-justify">
													En Teachme trabajamos con las mejores tecnologías de pagos por internet. Nuestro proveedor de pagos es <a href="https://stripe.com/" target="_blank">Stripe</a>, compañía en la cual inversores como <a href="http://es.wikipedia.org/wiki/Sequoia_Capital" title="Son los inversores de grandes empresas como Apple, Google..." target="_blank">Sequoia Capital</a> han puesto su confianza. Puedes estar tranquilo al realizar tu pago con nosotros por medio de Stripe.
												</p>
												<a href="https://stripe.com/" target="_blank"><img src="/static/img/poweredStripe.png"></a>
											</div>
										</div>
										<div class="row">
											<div class="col-md-10 col-md-offset-1">
												<h5>Profesor: {{mentor.name}}&nbsp;{{mentor.lname}}</h5>
												<h5>Detalle: Una sesión de <span id="tema-factura"></span> en TeachMe</h5>
												<h5>Pago:{{mentor.fee}} USD</h5>
												<h5>Horas: 1</h5>
											</div>
										</div>
									</div>
									<br>
									<br>
									<br>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
										<button type="submit" class="btn btn-primary" value="Submit">Procesar Pago</button>
									</div>
								</form>
							</div>
					  	</div>
					</div>
					<!-- Fin Modal -->
					{% endif %}
					<br>
					<br>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 bckg-w-80">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<h4>Qué piensan los usuarios de {{mentor.name}}</h4>
							<span class="starReviews-gray"><span class="starReviews" style="width:{{mentor.rating*20}}%"></span></span><span> </span><span class="glyphicon glyphicon-comment"></span><span> {{mentor.reviews}}</span>
						</div>
					</div>
					<hr>
					{% for r in reviews%}
						<div class="row">
							<div class="col-md-2 col-md-offset-1">
								<img class="img-circle img-40" {% if r.user.get().profile_pic_r.profile_pic_r %}src="{{r.user.get().profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
							</div>
							<div class="col-md-8">
								<span class="starReviews-gray"><span class="starReviews" style="width:{{r.rating*20}}%"></span></span> <span>{{r.date.strftime("%b %d, %Y")}}</span>
								<p>{{r.comment}}</p>
								<p><strong>{{r.user.get().name}}</strong></p>
							</div>
						</div>
						<hr>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		$(document).ready(function() {
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '<Ant',
				nextText: 'Sig>',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'yy-m-d',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			var fechas = {{fechas|safe}};
			var dates_local = [];
			var hours_local = {};
			for (var f = 0; f < fechas.length; f++){

				var dt = new Date(fechas[f]);
				
				var str_dt = dt.getFullYear().toString()+'-'+(dt.getMonth()+1).toString()+'-'+dt.getDate().toString();
				
				if (dates_local.indexOf(str_dt)>=0){}
				else{
					dates_local.push(str_dt);
				}
				
				
				if (hours_local.hasOwnProperty(str_dt)){
					hours_local[str_dt].push(dt);
					//hours_local[str_dt].push(dt.getHours().toString()+':'+dt.getMinutes().toString());
				} else {
					hours_local[str_dt] = [dt];
					//hours_local[str_dt] = [dt.getHours().toString()+':'+dt.getMinutes().toString()];
				}
			};

			var dates = dates_local; 
			var hours = hours_local; 
			var today = new Date();
			var cd = today.getFullYear().toString()+'-'+(today.getMonth()+1).toString()+'-'+today.getDate().toString(); 


		    $("#horas").replaceWith( function(){
		    	strfecha = moment(today).lang('es').format("dddd D, MMMM");
		    	strfecha = strfecha[0].toUpperCase() + strfecha.substring(1);
		    	var s = "<div id='horas'> <h4>"+ strfecha +"</h4>";
		    	if(cd in hours){
		    		for (var h = 0; h < hours[cd].length; h++) {
		    			//var lDate = new Date(cd+" "+hours[cd][h]);
		    			var lDate = hours[cd][h];
		    			var UTCdate = lDate.getUTCFullYear()+"-"+(parseInt(lDate.getUTCMonth())+1).toString()+"-"+lDate.getUTCDate()+" "+lDate.getUTCHours()+":"+lDate.getUTCMinutes();
		    			s = s+"<div class='radio'><label><input type='radio' class='input-radio' name='dateMeet' value='"+UTCdate+"'>"+hours[cd][h].toLocaleTimeString()+"</label></div>";
		    		};
		   		};
		    	
		    	s = s+"</div";
		    	return s;
		    });

			$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
			$('.calendario').datepicker({
				beforeShowDay : function(date){
					var y = date.getFullYear().toString(); // get full year
					var m = (date.getMonth() + 1).toString(); // get month.
					var d = date.getDate().toString(); // get Day
					var currDate = y+'-'+m+'-'+d;
					if(dates.indexOf(currDate) >= 0){
						return [true,"ui-highlight", ""];	
					}else{
						return [false];
					}					
				},
				onSelect : function(date){
					$("#horas").replaceWith( function(){
						fecha = new Date(hours[date][0]);
						strfecha = moment(fecha).lang('es').format("dddd D, MMMM");
						strfecha = strfecha[0].toUpperCase() + strfecha.substring(1);
		    			var s = "<div id='horas'> <h4>"+strfecha+"</h4>";
		    			for (var h = 0; h < hours[date].length; h++) {
		    				var lDate = hours[date][h];
		    				var UTCdate = lDate.getUTCFullYear()+"-"+(parseInt(lDate.getUTCMonth())+1).toString()+"-"+lDate.getUTCDate()+" "+lDate.getUTCHours()+":"+lDate.getUTCMinutes();
		    				s = s+"<div class='radio'><label><input type='radio' class='input-radio' name='dateMeet' value='"+UTCdate+"'>"+hours[date][h].toLocaleTimeString()+"</label></div>";
		    			};
		    			s = s+"</div";
		    			
		    			return s;
					})
					setupRadioEvent();
				},

			});

			var setupRadioEvent = function (){
				$(".input-radio").on('change',function(el){
					var errors=0;
					if($('#t-temas').val()!=""){
						$("#error-tema").html("");
					}
					else{
						errors++;
					}
					if($('.input-radio:checked').length !=0){
						$("#error-hora").html("");
					}
					else{
						errors++;
					}
					if(errors==0){
						$('#buttonSchedule').prop('disabled', false);	
					}
			});

			}
		
			var timezoneOffset = new Date().getTimezoneOffset();
			$('#timezoneOffset').val(timezoneOffset);

			// $('#schedule-form').dateMeet.click(function(){
			// 	if ($('#t-temas').val()){
			// 		$('#schedule-form').find('button').prop('disabled', false);
			// 	}
			// })
			// $('#t-temas').change(function(){
			// 	$('#buttonSchedule').prop('disabled', false);
			// })

			$('#t-temas').change(function(){
				var errors = 0;
				var tema = $('#t-select-area').val();
				$("#tema-factura").html(tema);

				if($('#t-temas').val()==""){
					$("#error-tema").html("Escribe algo para que el mentor tenga información sobre lo que quieres");
					$('#t-temas').focus()
					errors++;	
				}
				else{
					$("#error-tema").html("");
				}

				if($('.input-radio:checked').length ==0){
					$("#error-hora").html("Selecciona una hora disponible");
					$('#horas').focus()
					errors++;
				}
				else{
					$("#error-hora").html("");
				}

				if(errors==0){
					$('#buttonSchedule').prop('disabled', false);	
				}
				else{
					$('#buttonSchedule').prop('disabled', true);	
				}
			})
			
		});

	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#paymentCard').change(function(){
				var cardNumber = $(this).val();
				if(Stripe.card.validateCardNumber(cardNumber)){
					var cardType = Stripe.card.cardType(cardNumber);
					$(this).parent().removeClass("has-error").addClass("has-success")
					$('#cardType').html(cardType);

				}else{
					$(this).parent().removeClass("has-success").addClass("has-error")
				}
			})
			$('#paymentCVC').change(function(){
				var cardCVC = $(this).val();
				if(Stripe.card.validateCVC(cardCVC)){
					$(this).parent().removeClass("has-error").addClass("has-success")
				}else{
					$(this).parent().removeClass("has-success").addClass("has-error")
				}
			})
			$('#paymentExpMonth').change(function(){
				var cardMonth = parseInt($(this).val());
				var cardYear = parseInt($('#paymentExpYear').val());
				if(Stripe.card.validateExpiry(cardMonth, cardYear)){
					$(this).parent().removeClass("has-error").addClass("has-success");
					$('#paymentExpYear').parent().removeClass("has-error").addClass("has-success");
				}else{
					$(this).parent().removeClass("has-success").addClass("has-error");
					$('#paymentExpYear').parent().removeClass("has-success").addClass("has-error");
				}
			})
			$('#paymentExpYear').change(function(){
				var cardYear = parseInt($(this).val());
				var cardMonth = parseInt($('#paymentExpMonth').val());
				if(Stripe.card.validateExpiry(cardMonth, cardYear)){
					$(this).parent().removeClass("has-error").addClass("has-success");
					$('#paymentExpMonth').parent().removeClass("has-error").addClass("has-success");
				}else{
					$(this).parent().removeClass("has-success").addClass("has-error");
					$('#paymentExpMonth').parent().removeClass("has-success").addClass("has-error");
				}
			})

			Stripe.setPublishableKey('pk_live_4UNYOokz1qN9hsXFEJZwod6v');
				$('#payment-form').submit(function(event) {
				var $form = $(this);
				// Disable the submit button to prevent repeated clicks
				$form.find('button').prop('disabled', true);
				Stripe.card.createToken($form, stripeResponseHandler);
				// Prevent the form from submitting with the default action
				return false;
			});

			function stripeResponseHandler(status, response) {
			  var $form = $('#payment-form');
			  if (response.error) {
				// Show the errors on the form
				$form.find('.payment-errors').text(response.error.message);
				$form.find('button').prop('disabled', false);
			  } else {
				// response contains id and card, which contains additional card details
				var token = response.id;
				// Insert the token into the form so it gets submitted to the server
				$('#schedule-form').append($('<input type="hidden" name="stripeToken" />').val(token));
				$('#schedule-form').append($('<input type="hidden" name="metodo_pago" value="STRIPE" />'));
				$('#schedule-form').append($('<input type="hidden" name="mentorName" value="{{mentor.name}} {{mentor.lname}}" />'));
				// and submit
				$('#schedule-form').get(0).submit();
			  }
			};
		})
	</script>

{% endblock %}
