{% extends "base_main.html" %}
{% block title %}
	{{mentor.name}} {{mentor.lname}} | Teachme
{% endblock %}
{% block body %}

	<div class="backgnd" style="background-image: url('/static/profile.jpg')">
		<br>
		<br>
		<div class="container">
			<div class="row">
				<br>
				<br>
				<div class="col-md-10 col-md-offset-1 bckg-w-80">
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<br>
							<img class="img-circle img-100" {% if mentor.profile_pic_r %}src="{{mentor.profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
							<h2>{{mentor.name}}</h2>
							<h3>{{mentor.lname}}</h3>
							<div class="row">
								<div class="col-md-12">
									<span class="starReviews-gray">
										<span class="starReviews" style="width:{{mentor.rating*20}}%"></span>
									</span>
									<span> </span>
									<span class="glyphicon glyphicon-comment"></span>
									<span> {{mentor.reviews}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<h2>Acerca de {{mentor.name}}</h2>
							<p>{{mentor.about}}</p>
							<br>
							<p><strong>Tarifa por hora: </strong>{% if mentor.fee == 0 %}gratis{% else %}{{mentor.fee}} USD{% endif %}</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<h3>Ciudad</h3>
							<p>{{mentor.ciudad}}</p>
							<h3>País</h3>
							<p>{{mentor.pais}}</p>
							<h3>Perfil de linkedin</h3>
							<p><a href="{{mentor.linkedin}}" target="_blank">{{mentor.linkedin}}</a></p>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<h3>Áreas del conocimiento</h3>
							{% for a in t_areas %}
								<p>{{a.name}}</p>
							{% endfor %}
						</div>
						<div class="col-md-3">
							<h3 for="tags">Conocimientos y habilidades</h3>
							{% for a in mentor.tags %}
								<div class="tagbox">{{a}}</div>
							{% endfor %}
						</div>
					</div>
					<hr>
					<form role="form" method="post">
						<div class="row">
							<div class="col-md-4 col-md-offset-1">
								<label>Agenda libre</label>
								<div class="calendario">
								</div>
							</div>
							<div class="col-md-3">
								<label>Horas disponibles</label>
								<div id="horas">
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="form-group">
										<label for="t-select-area">Área</label>
										<select name ="select-area" class="form-control" id="t-selec-area" required>
											{% for a in t_areas %}
												<option value= "{{a.name}}">{{a.name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<label for="t-temas">Temas de la sesión</label>
										<textarea name="tema" class="form-control" id="t-temas" rows="6" placeholder="Aprovecha este espacio para comunicarle al mentor los temas que quisieras abordar durante la sesión." required></textarea>
									</div>
								</div>
							</div>
						</div>
						<br>
						<input type="hidden" name="timezoneOffset" id="timezoneOffset">
						<button class="btn btn-success center-block" type="submit">Agendar</button>
					</form>
					<br>
					<br>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 bckg-w-80">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<h3>Que piensan los usuarios de {{mentor.name}}</h3>
							<span class="starReviews-gray"><span class="starReviews" style="width:{{mentor.rating*20}}%"></span></span><span> </span><span class="glyphicon glyphicon-comment"></span><span> {{mentor.reviews}}</span>
						</div>
					</div>
					<hr>
					{% for r in reviews%}
						<div class="row">
							<div class="col-md-2 col-md-offset-1">
								<img class="img-circle img-40" {% if r.user.get().profile_pic_r.profile_pic_r %}src="{{r.user.get().profile_pic_r}}"{% else %} src="/static/avatar.png"{% endif %}>
							</div>
							<div class="col-md-8">
								<span class="starReviews-gray"><span class="starReviews" style="width:{{r.rating*20}}%"></span></span> <span>{{r.date.strftime("%b %d, %Y")}}</span>
								<p>{{r.comment}}</p>
								<p><strong>{{r.user.get().name}}</strong></p>
							</div>
						</div>
						<hr>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$.datepicker.regional['es'] = {
		        closeText: 'Cerrar',
		        prevText: '<Ant',
		        nextText: 'Sig>',
		        currentText: 'Hoy',
		        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        weekHeader: 'Sm',
		        dateFormat: 'yy-m-d',
		        firstDay: 1,
		        isRTL: false,
		        showMonthAfterYear: false,
		        yearSuffix: ''
		    };
		    var fechas = {{fechas|safe}};
		    var dates_local = [];
		    var hours_local = {};
		    for (var f = 0; f < fechas.length; f++){

		    	var dt = new Date(fechas[f]);
		    	
		    	var str_dt = dt.getFullYear().toString()+'-'+(dt.getMonth()+1).toString()+'-'+dt.getDate().toString();
		    	
		    	if (dates_local.indexOf(str_dt)>=0){}
		    	else{
		    		dates_local.push(str_dt);
		    	}
		    	
		    	
		    	if (hours_local.hasOwnProperty(str_dt)){
		    		hours_local[str_dt].push(dt);
		    		//hours_local[str_dt].push(dt.getHours().toString()+':'+dt.getMinutes().toString());
		    	} else {
		    		hours_local[str_dt] = [dt];
		    		//hours_local[str_dt] = [dt.getHours().toString()+':'+dt.getMinutes().toString()];
		    	}
		    };

		    var dates = dates_local; 
		    var hours = hours_local; 
		    var today = new Date();
		    var cd = today.getFullYear().toString()+'-'+(today.getMonth()+1).toString()+'-'+today.getDate().toString(); 

		    $("#horas").replaceWith( function(){
		    	strfecha = moment(today).lang('es').format("dddd D, MMMM");
		    	var s = "<div id='horas'> <h3>"+ strfecha +"</h3>";
		    	if(cd in hours){
		    		for (var h = 0; h < hours[cd].length; h++) {
		    			//var lDate = new Date(cd+" "+hours[cd][h]);
		    			var lDate = hours[cd][h];
		    			var UTCdate = lDate.getUTCFullYear()+"-"+(parseInt(lDate.getUTCMonth())+1).toString()+"-"+lDate.getUTCDate()+" "+lDate.getUTCHours()+":"+lDate.getUTCMinutes();
		    			s = s+"<div class='radio'><label><input type='radio' name='date-meet' value='"+UTCdate+"'>"+hours[cd][h].toLocaleTimeString()+"</label></div>";
		    		};
		   		};
		    	
		    	s = s+"</div";
		    	return s;
		    });

			$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
			$('.calendario').datepicker({
				beforeShowDay : function(date){
					var y = date.getFullYear().toString(); // get full year
					var m = (date.getMonth() + 1).toString(); // get month.
					var d = date.getDate().toString(); // get Day
					var currDate = y+'-'+m+'-'+d;
					if(dates.indexOf(currDate) >= 0){
						return [true,"ui-highlight", ""];	
					}else{
						return [false];
					}					
				},
				onSelect : function(date){
					$("#horas").replaceWith( function(){
						fecha = new Date(hours[date][0]);
						strfecha = moment(fecha).lang('es').format("dddd D, MMMM");
		    			var s = "<div id='horas'> <h3>"+strfecha+"</h3>";
		    			for (var h = 0; h < hours[date].length; h++) {
		    				var lDate = hours[date][h];
		    				var UTCdate = lDate.getUTCFullYear()+"-"+(parseInt(lDate.getUTCMonth())+1).toString()+"-"+lDate.getUTCDate()+" "+lDate.getUTCHours()+":"+lDate.getUTCMinutes();
		    				s = s+"<div class='radio'><label><input type='radio' name='date-meet' value='"+UTCdate+"'>"+hours[date][h].toLocaleTimeString()+"</label></div>";
		    			};
		    			s = s+"</div";
		    			return s;
					});
				},

			});
			var timezoneOffset = new Date().getTimezoneOffset();
			$('#timezoneOffset').val(timezoneOffset);
		});
	</script>

{% endblock %}
