@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
margin-left: 10px;
margin-right: 10px;
}.flaticon-bin2:before {
	content: "\e000";
}
.flaticon-eraser2:before {
	content: "\e001";
}
.flaticon-eraser8:before {
	content: "\e002";
}
.flaticon-gross:before {
	content: "\e003";
}
.flaticon-hanging9:before {
	content: "\e004";
}
.flaticon-new10:before {
	content: "\e005";
}
.flaticon-reply:before {
	content: "\e006";
}
.flaticon-small82:before {
	content: "\e007";
}
